@model InspiringIPTomar.Models.Alunos

@{
    ViewBag.Title = "Alterar Perfil";
}
@if (@TempData["alunoErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["cl"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["alunoErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title Inspiring IPTomar</h2>
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AlunoID)
                @Html.HiddenFor(model => model.UserID)
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Concelho, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Concelho, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Concelho, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Contacto, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Contacto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Sexo, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.DataNascimento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HabAcademicas, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HabAcademicas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HabAcademicas, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InforSobre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.InforSobre, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.InforSobre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AreasInteresse, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.AreasInteresse, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.AreasInteresse, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observacoes, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Observacoes, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Observacoes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Alterar Perfil" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        }
       </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
