@model IEnumerable<InspiringIPTomar.Models.Alunos>

@{
    ViewBag.Title = "Index";
}

<h2>Constroi o teu futuro, vem estudar no IPT!</h2>

<p>
    @Html.ActionLink("Inscreve-te", "NovoAluno")
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concelho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabAcademicas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InforSobre)
            </th>
                <th >
                @Html.DisplayNameFor(model => model.AreasInteresse)
            </th>

                <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
    </tr>


    </table>*@


