@model InspiringIPTomar.Models.Alunos

@{
    ViewBag.Title = "Perfil";
}
@if (TempData["RegSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["Reg"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["RegSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["alunoSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["cl"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["alunoSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title Inspiring IPTomar</h2>
    </div>

    <div class="col-md-6" style="text-align:justify">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeCompleto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concelho)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concelho) @Html.DisplayFor(model => model.Contacto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email) @Html.DisplayFor(model => model.DataNascimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexo) 
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HabAcademicas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HabAcademicas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InforSobre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InforSobre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AreasInteresse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AreasInteresse)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observacoes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacoes)
            </dd>
            
        </dl>
        <div class="col-md-6 col-md-offset-1">
            @Html.ActionLink("Alterar Perfil do Cliente", "Editar", "", new { @class = "btn btn-warning" })
            @Html.ActionLink("Ver Clientes", "Listagem", "", new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/pansodan06.jpg" alt="">
    </div>

</div>